* {
    margin: 0; 
    padding: 0; 
    vertical-align: middle;
    box-sizing: border-box;
}
html {
    overflow-y: scroll;
    scroll-behavior: smooth;
}
html.on {
    overflow: hidden;
}
body {
    font: normal 16px/1 'Montserrat', 'Nanum Gothic';
    color: rgb(50, 50, 50);
    background: rgb(255, 255, 255);
}
ul {list-style: none;}
a {
    color: rgb(50, 50, 50);
    text-decoration: none;
}
header, main, footer, nav, aside, section, article {
    display: block;
}
h1, h2, h3, h4, h5, h6, b, strong {font-weight: normal;}
i, em, address {font-style: normal;}
.hide {display: none;}